.*
!.clang-format
!.clang-tidy
!.cmake-format.py
!.git-blame-ignore-revs
!.githooks/
!.gitignore
!.gitlab-ci
!.gitlab-ci.yml
!.setup_cmakeformat.sh
!/lib/grm/.clang-tidy-naming
*.a
*.app
*.dylib
*.o
*.pc
*.pkg
*.so
*.so.dSYM
Makedefs
QMakefile
build/
cmake-build-*/
demo
dist/
gksm
gr*.deb
gr*.rpm
gr_version.h
js/fonts/
js/gr.js
js/libGR.js
lib/gks/qt/gksqt
moc_*.cpp
moc_*.h
qrc_*.cpp
clion-build/
