.*
!.gitignore
!.git-blame-ignore-rev
!.githooks
build/
dist/
*.o
*.a
*.so
*.so.dSYM
*.dylib
*.app
gr*.deb
gr*.rpm
cmake-build-*/
moc_*.h
moc_*.cpp
qrc_*.cpp
QMakefile
gr_version.h
Makedefs
demo
gksm
