include COPYING
include README.*
include version.txt
include vcversioner.py
include requirements.txt
recursive-include lib *
recursive-include 3rdparty *
recursive-include examples *
recursive-include doc *
recursive-exclude *.vc Makefile makefile Preflight
exclude lib/gks/quartz/build/*
prune doc/media
