include COPYING
include README.*
include version.txt
include vcversioner.py
include requirements.txt
graft lib
graft 3rdparty
graft examples
graft doc
global-exclude *.vc Makefile makefile Preflight *.py[cod] __pycache__
exclude lib/gks/quartz/build/*
prune doc/media
