ubuntu-self-contained:
  stage: build
  image: iffregistry.fz-juelich.de/docker-images/gr-build-images/$CI_JOB_NAME
  script:
  - wget https://gr-framework.org/downloads/3rdparty/cmake-3.23.0-linux-x86_64.tar.gz
  - tar xf cmake-3.23.0-linux-x86_64.tar.gz
  - export CMAKE_CMD=`pwd`/cmake-3.23.0-linux-x86_64/bin/cmake
  - make self GRDIR=/usr/local/gr
  - mkdir artifacts
  - cp lib/gks/demo artifacts/gksdemo
  - cp lib/gks/qt/gksqt artifacts/gksqt
  - cp lib/grm/grplot/grplot artifacts/grplot
  - cp lib/grm/grplot/README.md artifacts/grplot.man.md
  - cp lib/gr/demo artifacts/grdemo
  - cp lib/gks/libGKS.so lib/gks/libGKS.a lib/gks/plugin/*.so lib/gr/libGR.so lib/gr/libGR.a lib/gr3/libGR3.so
       lib/gr3/libGR3platform.so lib/grm/libGRM.a lib/grm/libGRM.so lib/gr/qtgr/*.so artifacts/
  - cp -r lib/gks/fonts artifacts/
  - mkdir artifacts/include/
  - cp lib/gks/gks.h lib/gr/gr.h lib/gr3/gr3.h lib/grm/include/grm.h lib/gr/qtgr/grwidget.h artifacts/include/
  - cp -r lib/grm/include/grm artifacts/include/
  - mv artifacts artifacts-ubuntu2004
  artifacts:
    expire_in: 1 week
    paths:
    - artifacts-ubuntu2004/

ubuntu-cmake-self-contained:
  stage: build
  image: iffregistry.fz-juelich.de/docker-images/gr-build-images/ubuntu-self-contained
  script:
  - wget https://gr-framework.org/downloads/3rdparty/cmake-3.23.0-linux-x86_64.tar.gz
  - tar xf cmake-3.23.0-linux-x86_64.tar.gz
  - export CMAKE_CMD=`pwd`/cmake-3.23.0-linux-x86_64/bin/cmake
  - make -C 3rdparty default extras
  - mkdir build
  - cd build
  - $CMAKE_CMD .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install -DGR_USE_BUNDLED_LIBRARIES=ON -DGR_BUILD_DEMOS=ON
  - make
  - make install
  - cd ..
  - mv install artifacts-ubuntu2004-cmake
  artifacts:
    expire_in: 1 week
    paths:
    - artifacts-ubuntu2004-cmake/

ubuntu-cmake-self-contained-debug:
  stage: build
  image: iffregistry.fz-juelich.de/docker-images/gr-build-images/ubuntu-self-contained
  script:
  - wget https://gr-framework.org/downloads/3rdparty/cmake-3.23.0-linux-x86_64.tar.gz
  - tar xf cmake-3.23.0-linux-x86_64.tar.gz
  - export CMAKE_CMD=`pwd`/cmake-3.23.0-linux-x86_64/bin/cmake
  - make -C 3rdparty default extras
  - mkdir build
  - cd build
  - $CMAKE_CMD .. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install -DGR_USE_BUNDLED_LIBRARIES=ON -DGR_BUILD_DEMOS=ON -DCMAKE_CXX_FLAGS="-D_GLIBCXX_ASSERTIONS"
  - make
  - make install
  - cd ..
  - install ./build/libGRM_int.so ./install/lib/
  - mv install artifacts-ubuntu2004-cmake
  - mv build/grm_test_internal_api ./
  artifacts:
    expire_in: 1 week
    paths:
    - artifacts-ubuntu2004-cmake/
    - grm_test_internal_api/

ubuntu-system-dependencies:
  stage: build
  image: iffregistry.fz-juelich.de/docker-images/gr-build-images/$CI_JOB_NAME
  script:
  - make install GRDIR=/usr/local/gr

ubuntu-cmake-system-dependencies:
  stage: build
  image: iffregistry.fz-juelich.de/docker-images/gr-build-images/ubuntu-system-dependencies
  script:
  - apt-get update
  - apt-get install -y libqhull-dev libbz2-dev libjpeg-turbo8-dev libavdevice-dev libtheora-dev libogg-dev libvpx-dev libfreetype6-dev
  - wget https://gr-framework.org/downloads/3rdparty/cmake-3.23.0-linux-x86_64.tar.gz
  - tar xf cmake-3.23.0-linux-x86_64.tar.gz
  - export CMAKE_CMD=`pwd`/cmake-3.23.0-linux-x86_64/bin/cmake
  - mkdir build
  - cd build
  - $CMAKE_CMD .. -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=${CI_PROJECT_DIR}/install -DGR_USE_BUNDLED_LIBRARIES=OFF
  - make
